.card .card-content {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card:hover .card-content {
    transform: rotateY(180deg);
}
.card-front,
.card-back {
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}
.card-back {
    transform: rotateY(180deg);
}
.cardback-content {
    backface-visibility: hidden;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
}
*::-webkit-scrollbar-corner {
    background: transparent;
}
.stuck {
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}
p.font-editorial-body-reg-02.text-text-primary a,
.other_voters ul li a {
    --tw-text-opacity: 1;
    color: rgb(13 13 13 / var(--tw-text-opacity));
    text-decoration-line: underline;
    text-decoration-color: #00854b;
    text-underline-offset: 2px;
}
.card-Flex .nameplate {
    line-height:110% !important;
}
.card-Flex .blurb {
    max-height:60% !important;
}
.card-Flex .cardback-content {
    background-image:url('https://ststatic.stimg.co/news/projects/all/2025-VIKES-ALLQC/img/cardback-flex.png?w=540') !important;
}
.other_voters h3,
.card-Flex h3 {
    font-family:'Graphik-semibold';
    padding-bottom: 6px;
}
.card-Flex h3 {
    font-size: 1rem;
    padding-top:6px;
}
.card-Flex .blurb-text p {
    padding-bottom: 9px;
}
.card-Flex .blurb-text b {
    font-family: 'Graphik-semibold';
    letter-spacing: 0px !important;
    white-space: nowrap;
}
.other_voters ul li {
    padding-bottom: 3px;
}
/* card size overrides debugging */

/* @media (max-width: 611px) {
    .card-list {
        background-color: yellow !important;
    }
}
@media (min-width: 612px) and (max-width: 914px) {
    .card-list {
        background-color: blue !important;
    }
}
@media (min-width: 915px) and (max-width: 1221px) {
    .card-list {
        background-color: pink !important;
    }
}
@media (min-width: 1222px) and (max-width: 1530px) {
    .card-list {
        background-color: green !important;
    }
}
@media (min-width: 1531px) {
    .card-list {
        background-color: orange !important;
    }
} */

/* card group show/hide */

.offenseGroup .card.offense {
    display: block;
}

.offenseGroup .card.defense,
.offenseGroup .card.specialteams {
    display: none;
}

.defenseGroup .card.defense {
    display: block;
}

.defenseGroup .card.offense,
.defenseGroup .card.specialteams {
    display: none;
}

.specialteamsGroup .card.specialteams {
    display: block;
}

.specialteamsGroup .card.offense,
.specialteamsGroup .card.defense {
    display: none;
}
button.active {
    font-weight: bold;
    background-color:rgba(255, 184, 28, 0.7);
    color: rgba(79, 38, 131, 1);
    border-left: 1px black;
}




/* @media (max-width: 1614px) {
    .card-list {
        max-width: 1200px;
    }
} */

/* @media screen and (max-width: 1614px) {
    .CARD-LIST {
        display: flex;
        flex-flow: column;
    }

    .eleven {
        order: 11;
    }

    .ten {
        order: 10;
    }

    .nine {
        order: 9;
    }

    .eight {
        order: 8;
    }

    .seven {
        order: 7;
    }

    .six {
        order: 6;
    }

    .five {
        order: 5;
    }

    .four {
        order: 4;
    }

    .three {
        order: 3;
    }

    .two {
        order: 2;
    }

    .one {
        order: 1;
    }
} */



/* @media screen and (max-width: 1800px) {
.card-list .card {
    min-width: 280px !important;
    max-width: 280px !important;

}

.blurb {
    max-height: 210px!important;
    padding-top: 10px !important;
}




.fadedScroller_fade {
    height: 40px;
    background: linear-gradient(to bottom,
            rgba(251, 251, 251, 0) 0%,
            rgba(255, 251, 239, 1) 100%);
    position: relative;
    background-color: rgba(255, 251, 239, 1) 100%;
    width: 76%;
    margin: -52px auto auto auto;
}

} */

/* @media screen and (min-width: 1801px) {
.card-list .card {
    min-width: 280px !important;
    max-width: 280px !important;

}

.blurb {
    max-height: 210px!important;
    padding-top: 10px !important;
}

.posinfo {
    font-size: 14px !important; 
}


.fadedScroller_fade {
    height: 40px;
    background: linear-gradient(to bottom,
            rgba(251, 251, 251, 0) 0%,
            rgba(255, 251, 239, 1) 100%);
    position: relative;
    background-color: rgba(255, 251, 239, 1) 100%;
    width: 76%;
    margin: -52px auto auto auto;
}
} */

/* @media screen and (max-width: 1500px) {
.card-list .card {
    min-width: 245px !important;
}

.blurb {
    max-height: 180px!important;
    padding-top: 5px !important;
}
}

@media screen and (max-width: 1200px) {
.card-list .card {
    min-width: 245px !important;
}
}

@media screen and (max-width: 600px) {
.card-list .card {
    min-width: 235px !important;
    max-width: 400px !important;
}
} */




/* .card-list .card .card-content a,
.card-list .card .card-content a:hover,
.card-list .card .card-content a:visited,
.card-list .card .card-content a:active {
    box-shadow: 0 1px 0 #999;
    color: #000;
    padding: 0;
    text-decoration: none;
}

.card-list .card .card-content a:hover,
.card-list .card .card-content a:active {
    box-shadow: 0 1px 0 #444;
    transition: all 0.25s ease;
}

.front,
.back {
    height: 100%;
    border-right: none;
    border-bottom: none;
    box-shadow: 7px 7px 7px #a1a1a1;
    padding: 0px;
    position: relative;
    background-color: #fff;
} */

/* .front,
.back {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */




