  .card .card-content {
      transition: transform 0.8s;
      transform-style: preserve-3d;
  }

  .card:hover .card-content {
      transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
      -webkit-backface-visibility: hidden;
      /* Safari */
      backface-visibility: hidden;
      box-shadow: 7px 7px 7px #a1a1a1;
  }

  .card-back {
      transform: rotateY(180deg);
  }

  .card .card-content a,
  .card .card-content a:hover,
  .card .card-content a:visited,
  .card .card-content a:active {
      box-shadow: 0 1px 0 #999;
      color: #000;
      padding: 0;
      text-decoration: none;
  }

  .card .card-content a:hover,
  .card .card-content a:active {
      box-shadow: 0 1px 0 #444;
      transition: all 0.25s ease;
  }

  .poslabel {
      text-align: center;
      font-family: 'Graphik-semibold';
      font-size: 20px;
      padding-bottom: 8px;
      padding-top: 15px;
  }

  .intro-text {
      max-width: 575px;
      margin: auto;
      font-family: 'Graphik';
      font-size: 16.5px;
      line-height: 140%;
      padding: 60px 0 60px;
  }

  .leadertext {
      font-family: 'Graphik-bold';
      text-transform: uppercase;
      font-size: 36px;
      margin: auto;
      text-align: center;
      line-height: 110%;
      padding-bottom: 15px;
  }

  .toggler {
      font-size: 16px;
      text-align: center;
      margin: auto;
      font-family: 'Graphik';
      padding-bottom: 25px;
      text-transform: uppercase;
      max-width: 575px;
  }

  .hero-ex {
      max-width: 100vw;
      margin: 0 !important;
  }

  .hero-img {
      max-width: 100vw;
      margin: 0;
  }

  .hero-text {
      max-width: 750px;
      text-align: center;
      margin: auto;
  }

  .hero-text h1 {
      font-family: 'Publico Banner';
      font-size: 3.15rem;
      line-height: 1.1;
      margin-bottom: 30px;
  }

  .hero-text p {
      font-family: 'Publico Headline';
      font-size: 1.55rem;
      max-width: 550px;
      margin: auto;
      padding-bottom: 40px;
  }

  div.byline {
      font-family: 'Graphik';
  }

  div.dateline {
      font-family: 'Graphik';
      text-transform: uppercase;
      font-size: 80%;
      letter-spacing: 1.5px;
  }



  .cardback-content {
      backface-visibility: hidden;
  }

  .card-header {
      margin: auto;
      text-align: center;
      padding-top: 11%;
  }

  .nameplate {
      font-family: 'Graphik';
      font-weight: bold;
      font-size: 28px;
      line-height: 90%;
  }

  .posinfo {
      font-family: Graphik;
      font-size: 12px;
  }

  .posinfo b {
      color: #472a82 !important;
  }

  .divider img {
      width: inherit;
  }

  .divider {
      width: inherit;
      box-sizing: border-box;
      padding: 5px 0;
  }

  .blurb {
      font-family: 'Graphik';
      font-size: 15px;
      overflow: scroll !important;
      max-height: 190px;
      margin: 18% 8.5% auto 12%;
      text-align: justify;
      padding-right: 2%;
  }

  ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 5px;
  }

  ::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  *::-webkit-scrollbar-corner {
      background: transparent;
  }

  .attrib {
      backface-visibility: hidden;
      text-align: right;
      margin: 5px 10px 0 0;
  }

  .fadedScroller_fade {
      height: 40px;
      background: linear-gradient(to bottom,
              rgba(251, 251, 251, 0) 0%,
              rgba(255, 251, 239, 1) 100%);
      position: relative;
      background-color: rgba(255, 251, 239, 1) 100%;
      width: 76%;
      margin: -55px auto auto auto;
  }

  html {
      scroll-behavior: smooth;
  }

  .card-list {
      display: flex;
      flex-flow: row wrap;
      max-width: 2000px;
      gap: 5px;
      padding: 0 0 0 0%;
      margin: auto;
      justify-content: center;
  }

  @media (max-width: 1614px) {
      .card-list {
          max-width: 1200px;
      }
  }

  @media screen and (max-width: 1614px) {
      .CARD-LIST {
          display: flex;
          flex-flow: column;
      }

      .eleven {
          order: 11;
      }

      .ten {
          order: 10;
      }

      .nine {
          order: 9;
      }

      .eight {
          order: 8;
      }

      .seven {
          order: 7;
      }

      .six {
          order: 6;
      }

      .five {
          order: 5;
      }

      .four {
          order: 4;
      }

      .three {
          order: 3;
      }

      .two {
          order: 2;
      }

      .one {
          order: 1;
      }
  }

  .card-list .card {
      width: 245px;
      cursor: pointer;
      padding: 0 10px 30px 10px;
      aspect-ratio: 1750 / 2457 !important;
  }

  @media (max-width: 600px) {
      .card-list .card {
          width: 90%;
      }
  }

  .card-list .card .card-content {
      height: 100%;
      position: relative;
      background-color: #fff;
  }

  .card-list .card .card-content a,
  .card-list .card .card-content a:hover,
  .card-list .card .card-content a:visited,
  .card-list .card .card-content a:active {
      box-shadow: 0 1px 0 #999;
      color: #000;
      padding: 0;
      text-decoration: none;
  }

  .card-list .card .card-content a:hover,
  .card-list .card .card-content a:active {
      box-shadow: 0 1px 0 #444;
      transition: all 0.25s ease;
  }

  .front,
  .back {
      height: 100%;
      border-right: none;
      border-bottom: none;
      box-shadow: 7px 7px 7px #a1a1a1;
      padding: 0px;
      position: relative;
      background-color: #fff;
  }

  .front,
  .back {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
  }

  .poslabel {
      text-align: center;
      font-family: 'Graphik-SEMIbold';
      font-size: 20px;
      padding-bottom: 8px;
      padding-top: 15px;
  }

  .leadertext {
      font-family: 'Graphik-Bold';
      text-transform: uppercase;
      font-size: 36px;
      margin: auto;
      text-align: center;
      line-height: 110%;
      padding-bottom: 15px;
  }

  .toggler {
      font-size: 16px;
      text-align: center;
      margin: auto;
      font-family: 'Graphik';
      padding-bottom: 25px;
      text-transform: uppercase;
      max-width: 575px;
  }



  .card-header {
      margin: auto;
      text-align: center;
      padding-top: 11%;
  }

  .nameplate {
      font-family: 'Graphik';
      font-weight: bold;
      font-size: 28px;
      line-height: 90%;
  }

  .posinfo {
      font-family: Graphik;
      font-size: 12px;
  }

  .posinfo b {
      color: #472a82 !important;
  }

  .divider img {
      width: inherit;
  }

  .divider {
      width: inherit;
      box-sizing: border-box;
      padding: 5px 0;
  }

  .blurb {
      font-family: 'Graphik';
      font-size: 15px;
      overflow: scroll !important;
      max-height: 190px;
      margin: 18% 8.5% auto 12%;
      text-align: justify;
      padding-right: 2%;
  }

  ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 5px;
  }

  ::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  *::-webkit-scrollbar-corner {
      background: transparent;
  }

  .attrib {
      backface-visibility: hidden;
      text-align: right;
      margin: 5px 10px 0 0;
  }

  .fadedScroller_fade {
      height: 40px;
      background: linear-gradient(to bottom,
              rgba(251, 251, 251, 0) 0%,
              rgba(255, 251, 239, 1) 100%);
      position: relative;
      background-color: rgba(255, 251, 239, 1) 100%;
      width: 76%;
      margin: -55px auto auto auto;
  }